/* Шрифты  */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.bold {
  font-family: 'ProximaNova_bold', sans-serif;
}
/* Базовые цвета */
/* Базовые настройки */
html {
  font-size: 10px;
}
body {
  font-family: 'Proxima Nova_Reg', sans-serif;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
/* Типографика */
section {
  padding: 10rem 0;
}
/* main */
main {
  padding: 3rem 0;
}
main-content {
  margin-top: 14rem;
}
main-content h1 {
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}
main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
main span {
  display: inline-block;
  padding: 3rem 5rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
}
main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
main-trigger {
  display: block;
  margin-top: 4rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
